@import "../../../assets/styles/icons";

.sidebar-wrapper {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px #7c7c7c52;

  .header {
    padding: 1.5rem;
    border-bottom: 1px solid #7c7c7c52;

    .logo {
      height: 35px;
    }
  }

  .sidebar-header,
  .sidebar-footer {
    position: sticky;
    background: #fff;
    z-index: 10;
  }

  .sidebar-header {
    top: 0;
    border-radius: 8px 8px 0 0;
  }

  .sidebar-footer {
    bottom: 0;
    padding: 0 1.5rem;
    border-top: 1px solid #7c7c7c52;
    border-radius:  0 0 8px 8px;
  }

  .sidebar-body {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 170px);
    //top: 40px;
    padding-bottom: 1rem;
    .menu-items {
      .vertical-nav {
        list-style: none;
        padding-left: 0;
        margin: 0;
        li {
          padding: 0.75rem 0;
          padding-left: 1rem;
          transition: background 0.3s;
          color: #8B8B8B;
          &:hover{
              background: linear-gradient(90deg, rgba(233, 76, 23, 0.33) 0%, rgb(233 76 23 / 5%) 99.96%);
          }
        }
      }
    }
    text-color{
      color: #464647;

    }


    .sidenav-body{
      min-height: calc(100vh - 188px);
      display: flex;
      flex-direction: column;
    }

    .activeLink {
      position: relative;
      color: #E94C17 !important;
       background: linear-gradient(90deg, rgba(233, 76, 23, 0.33) 0%, rgb(233 76 23 / 5%) 99.96%);
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: #e94c17;
      }
    }
  }
  .addverticepanel {
    margin-top: 1.5rem !important;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      333.18deg,
      rgba(23, 180, 233, 0.3) 7.6%,
      rgba(233, 76, 23, 0.5) 93.06%
    );
    background: url("../../../assets/images//public/sidebar-bg.png") no-repeat 100%;
    width: 85%;
    margin: auto;
    border-radius: 8px;
    padding: 1rem;

    h4 {
      color: #fff;
      line-height: 2.2rem; // Use this line-height instead of two separate lines
      font-size: 2rem;
      padding: 0;

      span {
        display: block;

        &.text-highlight {
          color: #009ED3;
        }
      }
    }
  }
}
