.togglr{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px solid #d5d5d5 !important;
    text-align: center;
    line-height: 3rem; 
    cursor: pointer;
}
.header-toolbar{
    .p-toolbar{
      padding: 0 !important; 
    }
  }

 
